@charset "UTF-8";
body {
  font-family: Microsoft JhengHei !important;
}

@media (min-width: 1200px) {
  .overlaymenu {
    display: none;
  }
  .popMenu {
    position: absolute;
    top: 70px;
    height: 320px;
    width: 350px;
    left: -230px;
    background: #ffffff;
    z-index: 1;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    padding: 10px 10px 20px 10px;
  }
  .popMenu::before {
    content: "";
    width: 0;
    height: 0;
    border: 22px solid transparent;
    border-bottom-color: #ffffff;
    position: absolute;
    right: 20px;
    top: -40px;
  }
  .popMenu .popMenuContainer {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .popMenu .close {
    position: absolute;
    display: inline-block;
    top: 0px;
    right: 20px;
    color: #333;
    font-size: 30px;
  }
  .popMenu .usImage {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: whitesmoke;
  }
  .popMenu .usInfo {
    text-align: left;
    width: 100%;
    position: absolute;
    top: 10px;
    left: 130px;
    line-height: 30px;
    color: #666666;
  }
  .popMenu .usInfo p {
    margin-bottom: 0px;
  }
  .popMenu .funcButton {
    position: absolute;
    bottom: 0px;
    width: 100%;
    line-height: 50px;
  }
  .popMenu .funcButton a {
    text-decoration: none;
    line-height: 40px;
    display: inline-block;
    width: 40%;
    margin: 0px 3.5px 0px 3.5px;
    border: 1px solid #2053a3;
    border-radius: 7px;
    color: #2053a3;
    font-weight: bold;
  }
  .popMenu .funcButton .funcButtonSC {
    width: 85%;
  }
  .popMenu .funcButton a:hover {
    color: white;
    background: #2053a3;
  }
  .popMenu .funcButton i {
    padding: 0px 5px 0px;
  }
  .header {
    border-bottom: 1px solid #eee;
    background-color: white;
    height: 60px;
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
  }
  .header::after {
    content: "";
    height: 59px;
    width: calc((100% - 1200px) / 2);
    background: #00ac28;
    position: absolute;
    /*上層沒有relative已body的左上座標為主*/
    top: 0px;
    right: 0px;
  }
  .menuPhone {
    display: none;
  }
  .logoPhone {
    display: none;
  }
  .logoutPhone {
    display: none;
  }
  .headerContainer {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*將容器設為flex*/
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    max-width: 1280px;
    /*限制容器最大寬度可避免螢幕過大元件無限變寬*/
    /*使容器寬度等於最大寬大１２８０px*/
    margin: auto;
    /*置中margin自動分配*/
  }
  .logo {
    -ms-flex-preferred-size: 310px;
        flex-basis: 310px;
    /*flex子項寬度*/
    background-color: white;
    height: 59px;
    padding-top: 10px;
  }
  .logo a img {
    height: 40px;
  }
  .menu {
    -ms-flex-preferred-size: 794px;
        flex-basis: 794px;
    /*flex子項寬度*/
    background-color: white;
    height: 59px;
    line-height: 59px;
  }
  .menu ul li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0px 20px;
    font-size: 15px;
  }
  .menu ul li a {
    color: #333;
    text-decoration: none;
  }
  .menu ul .menuli1 a i {
    color: #f08a64;
    width: 30px;
    height: 0.85vw;
  }
  .menu ul .menuli2 a i {
    color: #fdad09;
    width: 30px;
    height: 0.85vw;
  }
  .menu ul .menuli3 a i {
    color: #4b98b3;
    width: 30px;
    height: 0.85vw;
  }
  .menu ul .menuli4 a i {
    color: #5eb559;
    width: 30px;
    height: 0.85vw;
  }
  .menuli1:hover {
    background: #fbe3da;
  }
  .menuli1:hover > a {
    color: #d55b38;
  }
  .menuli2:hover {
    background: #ffefcd;
  }
  .menuli2:hover > a {
    color: #fdad09;
  }
  .menuli3:hover {
    background: #d8e9ef;
  }
  .menuli3:hover > a {
    color: #4b98b3;
  }
  .menuli4:hover {
    background: #ddf1db;
  }
  .menuli4:hover > a {
    color: #5eb559;
  }
  .active1 {
    background: #fbe3da;
  }
  .active2 {
    background: #ffefcd;
  }
  .active3 {
    background: #d8e9ef;
  }
  .active4 {
    background: #ddf1db;
  }
  .menu ul .active1 a {
    color: #d55b38;
  }
  .menu ul .active2 a {
    color: #fdad09;
  }
  .menu ul .active3 a {
    color: #4b98b3;
  }
  .menu ul .active4 a {
    color: #5eb559;
  }
  .login {
    -ms-flex-preferred-size: 150px;
        flex-basis: 150px;
    /*flex子項寬度*/
    background-color: #00ac28;
    height: 59px;
    line-height: 59px;
    color: white;
    position: relative;
  }
  .login > a {
    color: white;
  }
  .login > a:hover {
    color: #13334c;
    text-decoration: none;
  }
  .banner {
    margin-top: 60px;
    /*fixed header上浮 元件高度消失 banner會被蓋到必須推header高度*/
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #eee;
    height: 100%;
  }
  .bannerContainer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bannerContainer img {
    height: 500px;
  }
  .imageCover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: 2;
    background-image: linear-gradient(-225deg, #20e2d7 0%, #f9fea5 100%);
  }
  .textCover {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .imageCoverTitle {
    text-align: center;
    color: white;
    font-size: 3rem;
    text-shadow: 0.1em 0.1em 0.2em black;
  }
  .imageCoverSubTitle1 {
    text-align: center;
    color: white;
    font-size: 2rem;
    text-shadow: 0.1em 0.1em 0.2em black;
  }
  /**主要內容*/
  .lastNewsContainer {
    max-width: 1280px;
    position: relative;
    margin: auto;
    margin-top: 20px;
  }
  .lastNews p {
    text-align: center;
    font-size: 1.5rem;
  }
  .lastNews::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 40%;
    top: 50%;
    left: 0%;
    background: -webkit-gradient(linear, right top, left top, from(#00ac28), to(#dbffdb));
    background: linear-gradient(-90deg, #00ac28, #dbffdb);
  }
  .lastNews::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 40%;
    top: 50%;
    right: 0%;
    background: -webkit-gradient(linear, right top, left top, from(#dbffdb), to(#00ac28));
    background: linear-gradient(-90deg, #dbffdb, #00ac28);
  }
  .cardContainer {
    width: 100%;
    max-width: 1240px;
    margin: auto;
    padding: 0px 20px 0px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cardContainer > div {
    position: relative;
    width: 350px;
    margin: 10px;
  }
  .cardContainer > div > a {
    display: block;
    height: 300px;
    background-image: url("/image/Card.jpg");
    border-radius: 3px;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .cardContainer > div > a:hover {
    -webkit-box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .cardContainer .cardSubInfo {
    width: 350px;
    position: absolute;
    background: black;
    opacity: 0.9;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    bottom: 70px;
  }
  .cardContainer .cardText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 10px;
  }
  .cardContainer .cardText .cardTitle {
    margin: 0;
    padding-top: 5px;
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
  }
  .cardContainer .cardText .cardLoveButton {
    -ms-flex-preferred-size: 50px;
        flex-basis: 50px;
    font-size: 35px;
    text-align: right;
    color: grey;
  }
  .cardContainer .cardText .cardLoveButton:hover {
    color: palevioletred;
  }
  .cardContainer .cardText .cardTime {
    font-size: 14px;
    color: #f66512;
    letter-spacing: 3px;
  }
  .cardContainer .rank {
    text-align: center;
    display: inline-block;
    width: 170px;
  }
  .cardContainer .person {
    text-align: center;
    display: inline-block;
    width: 170px;
  }
  .cardContainer .moreActivity {
    text-decoration: none;
    border: 2px solid #15a11e;
    border-radius: 20px;
    color: black;
    font-size: 1rem;
    padding: 0px 20px 0px 20px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .cardContainer .moreActivity p {
    margin: 0px;
  }
  .cardContainer .moreActivity:hover {
    background: #15a11e;
    color: white;
  }
  .footer {
    display: block;
    width: 100%;
    height: 6px;
    background: green;
    margin-bottom: 5px;
  }
  .footer p {
    text-align: center;
    padding-top: 10px;
    color: #9eafae;
    font-size: 14px;
  }
  .popMenuPhone {
    display: none;
  }
}

@media (max-width: 1025px) and (min-width: 992px) {
  html {
    font-size: 14px;
  }
  p {
    margin: 0px;
  }
  .header {
    background: white;
    height: 44px;
    width: 100%;
    position: fixed;
    z-index: 50;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .menuPhone {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 44px;
    height: 44px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: green;
    background: white;
  }
  .overlaymenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    background: #ffffff;
    height: 100vh;
    width: 100vw;
    margin-top: -100vh;
    z-index: 100;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  .overlaymenu p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 160px;
    margin-top: 10px;
  }
  .overlaymenu i {
    text-align: center;
    height: 30px;
    width: 30px;
    font-size: 1.5rem;
  }
  .overlaymenu a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
  }
  .overlaymenu .closeMenu {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 28px;
    color: green;
  }
  .logoPhone {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .logoPhone img {
    width: 185px;
    height: 44px;
  }
  .header .logoutPhone {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 44px;
    height: 44px;
    color: whitesmoke;
    background: #107902;
  }
  .headerContainer {
    display: none;
  }
  .popMenuPhone {
    display: block;
    position: fixed;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    top: 50px;
    right: 10px;
    border-radius: 10px;
  }
  .popMenuPhone .popMenuContainer {
    border-radius: 10px;
    font-size: 14px;
    background: white;
    padding: 0px;
    position: relative;
    width: 280px;
    height: 280px;
  }
  .popMenuPhone .popMenuContainer .usImage {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 100px;
    background: green;
    border-radius: 50%;
  }
  .popMenuPhone .popMenuContainer .usInfo {
    width: 150px;
    text-align: left;
    position: absolute;
    top: 30px;
    line-height: 25px;
    left: 130px;
    color: gray;
  }
  .popMenuPhone .popMenuContainer .usInfo p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .popMenuPhone .popMenuContainer .funcButton {
    text-align: center;
    position: absolute;
    bottom: 10px;
  }
  .popMenuPhone .popMenuContainer .funcButton a {
    border: 1px solid green;
    border-radius: 5px;
    color: green;
    display: inline-block;
    font-size: 15px;
    margin: 5px;
    width: 110px;
    padding: 5px 10px 5px 10px;
  }
  .popMenuPhone .popMenuContainer .close {
    position: absolute;
    font-size: 20px;
    right: 15px;
    top: 15px;
  }
  .popMenuPhone .popMenuContainer .funcButtonSC {
    display: inline-block;
    width: 235px !important;
  }
  .banner {
    margin-top: 44px;
    /*fixed header上浮 元件高度消失 banner會被蓋到必須推header高度*/
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #eee;
    height: 100%;
  }
  .bannerContainer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bannerContainer img {
    height: 400px;
  }
  .imageCover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: 2;
    background-image: linear-gradient(-225deg, #20e2d7 0%, #f9fea5 100%);
  }
  .textCover {
    position: absolute;
    z-index: 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .imageCoverTitle {
    text-align: center;
    color: white;
    font-size: 3rem;
    text-shadow: 0.1em 0.1em 0.2em black;
  }
  .imageCoverSubTitle1 {
    color: white;
    font-size: 2rem;
    text-shadow: 0.1em 0.1em 0.2em black;
  }
  /**主要內容*/
  .lastNewsContainer {
    max-width: 1280px;
    position: relative;
    margin: auto;
    margin-top: 40px;
  }
  .lastNews p {
    text-align: center;
    font-size: 1.5rem;
  }
  .lastNews::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 40%;
    top: 50%;
    left: 0%;
    background: -webkit-gradient(linear, right top, left top, from(#00ac28), to(#dbffdb));
    background: linear-gradient(-90deg, #00ac28, #dbffdb);
  }
  .lastNews::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 40%;
    top: 50%;
    right: 0%;
    background: -webkit-gradient(linear, right top, left top, from(#dbffdb), to(#00ac28));
    background: linear-gradient(-90deg, #dbffdb, #00ac28);
  }
  .cardContainer {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    padding: 20px 0px 20px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cardContainer > div {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    position: relative;
    height: 300px;
    margin: 10px 5px 0px 5px;
  }
  .cardContainer > div > a {
    display: block;
    height: 100%;
    width: 100%;
    background-image: url("/image/Card.jpg");
    background-position: center center;
    border-radius: 3px;
    background-repeat: no-repeat;
    -webkit-filter: grayscale(60%);
            filter: grayscale(60%);
    -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .cardContainer > div > a:hover {
    -webkit-box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
  }
  .cardContainer > div > .cardSubInfo {
    width: 100%;
    position: absolute;
    background: black;
    opacity: 0.9;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    bottom: 0px;
  }
  .cardContainer .cardText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 10px;
  }
  .cardContainer .cardText .cardTitle {
    margin: 0;
    padding-top: 5px;
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
  .cardContainer .cardText .cardLoveButton {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    font-size: 35px;
    text-align: right;
    color: grey;
  }
  .cardContainer .cardText .cardLoveButton:hover {
    color: palevioletred;
  }
  .cardContainer .cardText .cardTime {
    font-size: 14px;
    color: #f66512;
    letter-spacing: 3px;
  }
  .cardContainer .rank {
    text-align: center;
    display: inline-block;
    width: 48%;
  }
  .cardContainer .person {
    text-align: center;
    display: inline-block;
    width: 48%;
  }
  .cardContainer .moreActivity {
    text-decoration: none;
    border: 2px solid #15a11e;
    border-radius: 20px;
    color: black;
    font-size: 1rem;
    padding: 0px 20px 0px 20px;
    margin-top: 100px;
    margin-bottom: 0px;
  }
  .cardContainer .moreActivity p {
    margin: 0px;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 14px;
  }
  p {
    margin: 0px;
  }
  .header {
    background: white;
    height: 44px;
    width: 100%;
    position: fixed;
    z-index: 50;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .menuPhone {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 44px;
    height: 44px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: green;
    background: white;
  }
  .overlaymenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    background: #ffffff;
    height: 100vh;
    width: 100vw;
    margin-top: -100vh;
    z-index: 100;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  .overlaymenu p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 160px;
    margin-top: 5px;
  }
  .overlaymenu i {
    text-align: center;
    height: 30px;
    width: 30px;
    font-size: 1.5rem;
  }
  .overlaymenu a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
  }
  .overlaymenu .closeMenu {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 28px;
    color: green;
  }
  .logoPhone {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .logoPhone img {
    width: 185px;
    height: 44px;
  }
  .header .logoutPhone {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 44px;
    height: 44px;
    color: whitesmoke;
    background: #107902;
  }
  .headerContainer {
    display: none;
  }
  .popMenuPhone {
    display: block;
    position: fixed;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    top: 50px;
    right: 10px;
    border-radius: 10px;
  }
  .popMenuPhone .popMenuContainer {
    border-radius: 10px;
    font-size: 14px;
    background: white;
    padding: 0px;
    position: relative;
    width: 280px;
    height: 280px;
  }
  .popMenuPhone .popMenuContainer .usImage {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 100px;
    background: green;
    border-radius: 50%;
  }
  .popMenuPhone .popMenuContainer .usInfo {
    width: 150px;
    text-align: left;
    position: absolute;
    top: 30px;
    line-height: 25px;
    left: 130px;
    color: gray;
  }
  .popMenuPhone .popMenuContainer .usInfo p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .popMenuPhone .popMenuContainer .funcButton {
    text-align: center;
    position: absolute;
    bottom: 10px;
  }
  .popMenuPhone .popMenuContainer .funcButton a {
    border: 1px solid green;
    border-radius: 5px;
    color: green;
    display: inline-block;
    font-size: 15px;
    margin: 5px;
    width: 110px;
    padding: 5px 10px 5px 10px;
  }
  .popMenuPhone .popMenuContainer .close {
    position: absolute;
    font-size: 20px;
    right: 15px;
    top: 15px;
  }
  .popMenuPhone .popMenuContainer .funcButtonSC {
    display: inline-block;
    width: 235px !important;
  }
  .banner {
    margin-top: 44px;
    /*fixed header上浮 元件高度消失 banner會被蓋到必須推header高度*/
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #eee;
    height: 100%;
  }
  .bannerContainer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bannerContainer img {
    height: 200px;
  }
  .imageCover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: 2;
    background-image: linear-gradient(-225deg, #20e2d7 0%, #f9fea5 100%);
  }
  .textCover {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .imageCoverTitle {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    text-shadow: 0.1em 0.1em 0.2em black;
  }
  .imageCoverSubTitle1 {
    color: white;
    font-size: 1rem;
    text-shadow: 0.1em 0.1em 0.2em black;
  }
  /**主要內容*/
  .lastNewsContainer {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid #d5d5d5;
  }
  .lastNews p {
    font-weight: 500;
    color: green;
    width: 150px;
    text-align: left;
    font-size: 1.4rem;
    padding: 2px;
  }
  /*卡片框架*/
  .cardContainer {
    width: 100%;
    max-width: 990px;
    margin: auto;
    padding: 0px 20px 0px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /*cell*/
  .cardContainer > div {
    position: relative;
    max-width: 991px;
    height: 130px;
    margin: 10px 5px 0px 5px;
    border-bottom: 1px solid #d5d5d5;
  }
  /*照片*/
  .cardContainer > div > a {
    display: block;
    height: 110px;
    width: 135px;
    background-image: url("/image/Card.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: grayscale(60%);
            filter: grayscale(60%);
    -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .cardContainer > div > a:hover {
    -webkit-box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
  }
  /*積分、名額*/
  .cardContainer .cardSubInfo {
    color: grey;
    position: absolute;
    top: 0px;
    left: 150px;
  }
  .cardContainer .cardSubInfo span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
  /*cell切兩塊第二塊*/
  .cardTitle {
    position: absolute;
    top: 50px;
    left: 150px;
    font-weight: 400;
  }
  .cardLoveButton {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 30px;
    color: grey;
  }
  .cardLoveButton:hover {
    color: palevioletred;
  }
  .cardTime {
    position: absolute;
    top: 80px;
    left: 150px;
    font-size: 14px;
    color: #f66512;
    letter-spacing: 3px;
  }
  .moreActivity {
    position: absolute;
    margin-top: -40px;
    right: 18px;
    border: 2px solid green;
    border-radius: 20px;
    text-align: center;
    width: 100px;
    text-decoration: none;
    color: green;
  }
  /*popover*/
}
/*# sourceMappingURL=index.css.map */