@charset "UTF-8";
@font-face {
    font-family: apple;
    src: url(/fonts/GenJyuuGothic-Monospace-Normal.ttf);
  }
$cardColor: rgb(46, 48, 55); //卡片顏色
$inversColor: rgb(57, 58, 66); //反白顏色
$inputColor: #494b54; //input顏色
$backgroundColor: rgb(37, 38, 46);

