/*bs4CSS自定義項目*/
$inversColor: rgb(57, 58, 66); //反白顏色
.close {
  outline: none !important;
}
.modal-dialog {
  max-width: 100vw;
}
.show {
  backdrop-filter: blur(5px) brightness(100%);
  background-color: rgba(255, 255, 255, 0.1);
}
.modal-header {
  padding: 10px;
}
.selfModalContent {
  background: $inversColor;
  width: 100%;
  padding: 40px;
}
@media (max-width: 415px) {
  .selfModalContent {
    padding: 10px;
  }
}
