@font-face {
  font-family: apple;
  src: url(/fonts/GenJyuuGothic-Monospace-Normal.ttf);
}
//排序顏色基數
table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1{
  border-top: 2px solid #363840;
  border-bottom: 2px solid #2e3037;
  border-right: 2px solid #2e3037;
  background: #383a43 !important;
}
//排序顏色偶數
table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
  border-top: 2px solid #363840;
  border-bottom: 2px solid #2e3037;
  border-right: 2px solid #2e3037;
  background: #2e3037 !important;
}
//hover顏色
#table_id_example1 tr:hover td,
#table_id_example2 tr:hover td,
#table_id_example3 tr:hover td,
#table_id_example4 tr:hover td,
#table_id_example5 tr:hover td {
  background-color: #454545 !important;
}
//右下角資料頁顏色
#table_id_example1_paginate,
#table_id_example2_paginate,
#table_id_example3_paginate,
#table_id_example4_paginate,
#table_id_example5_paginate {
  padding: 0px;
  margin-top: 10px;
  border: 2px solid #494b54;
  border-radius: 5px;
  a {
    color: rgb(129, 137, 145) !important;
  }
  .paginate_button:hover {
    outline: none;
    border: 0px;
    background: rgba(0, 0, 0, 0.1);
  }
  .paginate_button.current {
    outline: none;
    border: 0px;
    background: rgba(0, 0, 0, 0.3);
  }
  .paginate_button:active {
    outline: none;
    border: 0px;
    background: rgba(0, 0, 0, 0.1);
  }
}
.onWorkPage {
  display: none;
}
.onWorkRecord {
  display: block;
}
.leaveRecord {
  display: none;
}
.leaveRefusalRecord {
  display: none;
}
.salaryPage {
  display: none;
}
.performanceEquality {
  display: none;
}
@media (min-width: 1025px) {
  body {
    font-family: apple !important;
  }

  .systemBodyContainer {
    position: relative;
    background: rgb(37, 38, 46);
    color: white;
    padding: 10px 40px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;

    .onWorkPage {
      .row1 {
        width: 100%;
        padding: 0px 20px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid grey;
        margin-bottom: 20px;
        .title {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 30px;
          i {
            margin-right: 20px;
            color: rgb(245, 152, 26);
          }
        }
      }
      .clockCard {
        display: flex;
        align-items: center;
        line-height: 1.2;
        height: 150px;
        margin-bottom: 10px;
        .clockTitle {
          display: flex;
          flex-direction: column;
          text-align: right;
          p:last-child {
            margin-top: 5px;
            color: rgb(245, 152, 26);
            text-shadow: 0 0 20px rgb(245, 152, 26), 0 0 20px rgba(10, 175, 230, 0);
          }
        }
      }
      .row2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        border-radius: 5px;
        .months-container {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          max-width: 1000px;
          .month-container {
            margin: 10px;
          }
        }
        .row2-1 {
          display: flex;
          flex-direction: column;

          .selectCard {
            padding: 20px;
            background: rgb(44, 46, 54);
            margin: 20px;
            .selectTitle {
              margin-bottom: 10px;
              font-size: 20px;
            }
            select {
              width: 100%;
              outline: none;
              border: 1px solid white;
            }
          }
          .ipInfo {
            margin: 20px;
            padding: 20px;
            background: rgb(44, 46, 54);
            letter-spacing: 2px;
            line-height: 1.5;
            .ipInfoTitle {
              font-size: 20px;
              margin-bottom: 10px;
            }
          }
          .statusIntroduction {
            margin: 20px;
            padding: 20px;
            background: rgb(44, 46, 54);
            letter-spacing: 2px;
            line-height: 1.5;
            .statusTitle {
              font-size: 20px;
              margin-bottom: 10px;
            }
            .statusContainer {
              display: flex;
              justify-content: space-between;
              .statusContainer1 {
                width: 30px;
                background: turquoise;
                border-radius: 5px;
              }
              .statusContainer2 {
                width: 30px;
                border-bottom: 4px solid green;
              }
              .statusContainer3 {
                width: 30px;
                border-bottom: 4px solid steelblue;
              }
              .statusContainer4 {
                width: 30px;
                border-bottom: 4px solid orange;
              }
            }
          }
        }
      }
    }
    .onWorkRecord {
      outline: none;
      padding: 20px;
      color: rgb(129, 137, 145);
      .onWorkRecordInputContainer {
        background: rgb(46, 48, 55); //卡片顏色
        display: flex;
        justify-content: space-between;
        padding: 20px;
        border-radius: 5px;
        margin-bottom: 20px;
        .onWorkRecordDateSelect {
          input {
            border-radius: 5px;
            text-align: center;
            width: 350px;
            outline: none;
            color: #949ba2;
            border: none;
            box-shadow: none;
            transition: none;
            background-color: #494b54;
            font-size: 1rem;
          }
        }
        .onWorkRecordCompanySelect {
          select {
            text-align: center;
            text-align-last: center; /*兼容chrome*/
            width: 250px;
            color: #949ba2;
            border: none;
            box-shadow: none;
            transition: none;
            background-color: #494b54;
            font-size: 1rem;
            outline: none;
          }
        }
        .onWorkRecordDutySelect {
          select {
            text-align: center;
            text-align-last: center; /*兼容chrome*/
            width: 250px;
            color: #949ba2;
            border: none;
            box-shadow: none;
            transition: none;
            background-color: #494b54;
            font-size: 1rem;
            outline: none;
          }
        }
      }
      /*自定義datatable*/
      .onWorkRecordTable {
        background: rgb(46, 48, 55); //卡片顏色
        padding: 20px;
        border-radius: 5px;
        input,
        select {
          color: #949ba2;
          border: none;
          box-shadow: none;
          transition: none;
          background-color: #494b54;
          font-size: 1rem;
        }
        label,
        .dataTables_info {
          color: white;
        }
        table {
          border: 0px;
          border-collapse: collapse;
        }
        thead {
          th {
            border: 0px;
          }
        }

        .odd {
          td {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(56, 58, 67);
          }
        }

        .even {
          td {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(46, 48, 55);
          }
        }
      }
    }
    .leaveRecord {
      outline: none;
      padding: 20px;
      color: rgb(129, 137, 145);
      .onWorkRecordInputContainer {
        background: rgb(46, 48, 55); //卡片顏色
        display: flex;
        justify-content: space-between;
        padding: 20px;
        border-radius: 5px;
        margin-bottom: 20px;
        .onWorkRecordDateSelect {
          input {
            border-radius: 5px;
            text-align: center;
            width: 350px;
            outline: none;
            color: #949ba2;
            border: none;
            box-shadow: none;
            transition: none;
            background-color: #494b54;
            font-size: 1rem;
          }
        }
        .onWorkRecordCompanySelect {
          select {
            text-align: center;
            text-align-last: center; /*兼容chrome*/
            width: 250px;
            color: #949ba2;
            border: none;
            box-shadow: none;
            transition: none;
            background-color: #494b54;
            font-size: 1rem;
            outline: none;
          }
        }
        .onWorkRecordDutySelect {
          select {
            text-align: center;
            text-align-last: center; /*兼容chrome*/
            width: 250px;
            color: #949ba2;
            border: none;
            box-shadow: none;
            transition: none;
            background-color: #494b54;
            font-size: 1rem;
            outline: none;
          }
        }
      }
      
    }
    .leaveRefusalRecord {
      outline: none;
      padding: 20px;
      color: rgb(129, 137, 145);

      /*自定義datatable*/
      .onWorkRecordTable {
        background: rgb(46, 48, 55); //卡片顏色
        padding: 20px;
        border-radius: 5px;
        input,
        select {
          color: #949ba2;
          border: none;
          box-shadow: none;
          transition: none;
          background-color: #494b54;
          font-size: 1rem;
        }
        label,
        .dataTables_info {
          color: white;
        }
        table {
          border: 0px;
          border-collapse: collapse;
        }
        thead {
          th {
            border: 0px;
          }
        }
        #table_id_example tr:hover td {
          background-color: #454545 !important;
        }

        .odd {
          td:first-child {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(56, 58, 67);
          }
          td {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(56, 58, 67);
          }
        }

        .even {
          td:first-child {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(46, 48, 55);
          }
          td {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(46, 48, 55);
          }
        }

        #table_id_example_paginate {
          padding: 0px;
          margin-top: 10px;
          border: 2px solid #494b54;
          border-radius: 5px;
          a {
            color: rgb(129, 137, 145) !important;
          }
          .paginate_button:hover {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.1);
          }
          .paginate_button.current {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.3);
          }
          .paginate_button:active {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
    .salaryPage {
      outline: none;
      padding: 20px;
      color: rgb(129, 137, 145);

      /*自定義datatable*/
      .onWorkRecordTable {
        background: rgb(46, 48, 55); //卡片顏色
        padding: 20px;
        border-radius: 5px;
        input,
        select {
          color: #949ba2;
          border: none;
          box-shadow: none;
          transition: none;
          background-color: #494b54;
          font-size: 1rem;
        }
        label,
        .dataTables_info {
          color: white;
        }
        table {
          border: 0px;
          border-collapse: collapse;
        }
        thead {
          th {
            border: 0px;
          }
        }
        #table_id_example tr:hover td {
          background-color: #454545 !important;
        }

        .odd {
          td:first-child {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(56, 58, 67);
          }
          td {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(56, 58, 67);
          }
        }

        .even {
          td:first-child {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(46, 48, 55);
          }
          td {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(46, 48, 55);
          }
        }
        #table_id_example_paginate {
          padding: 0px;
          margin-top: 10px;
          border: 2px solid #494b54;
          border-radius: 5px;
          a {
            color: rgb(129, 137, 145) !important;
          }
          .paginate_button:hover {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.1);
          }
          .paginate_button.current {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.3);
          }
          .paginate_button:active {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
    .performanceEquality {
      outline: none;
      padding: 20px;
      color: rgb(129, 137, 145);

      /*自定義datatable*/
      .onWorkRecordTable {
        background: rgb(46, 48, 55); //卡片顏色
        padding: 20px;
        border-radius: 5px;
        input,
        select {
          color: #949ba2;
          border: none;
          box-shadow: none;
          transition: none;
          background-color: #494b54;
          font-size: 1rem;
        }
        label,
        .dataTables_info {
          color: white;
        }
        table {
          border: 0px;
          border-collapse: collapse;
        }
        thead {
          th {
            border: 0px;
          }
        }
        #table_id_example tr:hover td {
          background-color: #454545 !important;
        }

        .odd {
          td:first-child {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(56, 58, 67);
          }
          td {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(56, 58, 67);
          }
        }

        .even {
          td:first-child {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(46, 48, 55);
          }
          td {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(46, 48, 55);
          }
        }

        #table_id_example_paginate {
          padding: 0px;
          margin-top: 10px;
          border: 2px solid #494b54;
          border-radius: 5px;
          a {
            color: rgb(129, 137, 145) !important;
          }
          .paginate_button:hover {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.1);
          }
          .paginate_button.current {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.3);
          }
          .paginate_button:active {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) and (min-width: 415px) {
  body {
    font-family: apple !important;
  }

  .systemBodyContainer {
    position: relative;
    background: rgb(33, 36, 42);
    color: white;

    .menuContainer {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: -200px;
      width: 200px;
      height: 100%;
      background: rgb(31, 34, 40);
      color: white;
      padding-top: 40px;
      z-index: 999;
      p {
        margin: 0px;
      }
      .menuItem {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        padding: 5px 20px;
        margin-top: 10px;
        cursor: pointer;
      }

      .subItem {
        height: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        cursor: pointer;
      }
      .more1-1,
      .more1-2,
      .more1-3 {
        padding: 5px 30px;
      }

      .menuLight {
        border-left: 5px solid rgb(245, 152, 26);
        padding-left: 15px;
      }
      .menuSubLight {
        border-left: 5px solid rgb(180, 106, 11);
        padding-left: 25px;
      }
    }

    padding: 10px 80px;
    width: 100%;
    min-height: 1500px;
    margin: 0 auto;
    .onWorkPage {
      .row1 {
        padding: 0px 20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border-bottom: 1px solid grey;
        margin-bottom: 20px;
        .title {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 26px;
          i {
            margin-right: 20px;
            color: rgb(245, 152, 26);
          }
        }
      }
      .clockCard {
        display: flex;
        align-items: center;
        line-height: 1.2;
        height: 150px;
        margin-bottom: 10px;

        .clockTitle {
          display: flex;
          flex-direction: column;
          text-align: right;
          p:last-child {
            margin-top: 5px;
            color: rgb(245, 152, 26);
            text-shadow: 0 0 20px rgb(245, 152, 26), 0 0 20px rgba(10, 175, 230, 0);
          }
        }
      }
      .row2 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border-radius: 5px;
        .months-container {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          max-width: 1000px;
          .month-container {
            margin: 10px;
          }
        }
        .row2-1 {
          display: flex;
          flex-wrap: wrap;
          max-width: 1000px;

          width: 100%;
          .selectCard {
            flex-grow: 3;
            padding: 20px;
            background: rgb(44, 46, 54);
            margin: 10px;
            .selectTitle {
              margin-bottom: 10px;
              font-size: 20px;
            }
            select {
              width: 100%;
              outline: none;
              border: 1px solid white;
            }
          }
          .ipInfo {
            flex-grow: 2;
            margin: 10px;
            padding: 20px;
            background: rgb(44, 46, 54);
            letter-spacing: 0px;
            line-height: 1.5;
            .ipInfoTitle {
              font-size: 20px;
              margin-bottom: 10px;
            }
          }
          .statusIntroduction {
            flex-grow: 5;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: baseline;

            margin: 10px;
            padding: 20px;
            background: rgb(44, 46, 54);
            letter-spacing: 2px;
            line-height: 1.5;
            font-size: 14px;
            .statusTitle {
              font-size: 16px;
              margin-bottom: 10px;
            }
            .statusContainer {
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;
              p {
                padding-right: 5px;
              }
              .statusContainer1 {
                width: 15px;
                height: 15px;
                background: turquoise;
                border-radius: 5px;
              }
              .statusContainer2 {
                width: 15px;
                border-bottom: 4px solid green;
              }
              .statusContainer3 {
                width: 15px;
                border-bottom: 4px solid steelblue;
              }
              .statusContainer4 {
                width: 15px;
                border-bottom: 4px solid orange;
              }
            }
          }
        }
      }
    }
    .onWorkRecord {
      outline: none;
      padding: 20px;
      color: rgb(129, 137, 145);
      margin: 0 auto;
      .onWorkRecordInputContainer {
        background: rgb(46, 48, 55); //卡片顏色
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 5px;
        margin-bottom: 20px;
        .onWorkRecordDateSelect {
          display: flex;
          justify-content: center;
          margin-bottom: 10px;
          span {
            width: 100px;
          }
          input {
            max-width: 600px;
            width: 100%;
            border-radius: 5px;
            text-align: center;
            outline: none;
            color: #949ba2;
            border: none;
            box-shadow: none;
            transition: none;
            background-color: #494b54;
            font-size: 1rem;
          }
        }
        .onWorkRecordCompanySelect {
          display: flex;
          justify-content: center;
          margin-bottom: 10px;
          span {
            width: 100px;
          }
          select {
            max-width: 600px;
            width: 100%;
            text-align: center;
            text-align-last: center; /*兼容chrome*/
            color: #949ba2;
            border: none;
            box-shadow: none;
            transition: none;
            background-color: #494b54;
            font-size: 1rem;
            outline: none;
          }
        }
        .onWorkRecordDutySelect {
          display: flex;
          justify-content: center;
          margin-bottom: 10px;
          span {
            width: 100px;
          }
          select {
            max-width: 600px;
            width: 100%;
            text-align: center;
            text-align-last: center; /*兼容chrome*/
            color: #949ba2;
            border: none;
            box-shadow: none;
            transition: none;
            background-color: #494b54;
            font-size: 1rem;
            outline: none;
          }
        }
      }
      /*自定義datatable*/
      .onWorkRecordTable {
        background: rgb(46, 48, 55); //卡片顏色
        padding: 20px;
        border-radius: 5px;
        input,
        select {
          color: #949ba2;
          border: none;
          box-shadow: none;
          transition: none;
          background-color: #494b54;
          font-size: 1rem;
        }
        label,
        .dataTables_info {
          color: white;
        }
        table {
          border: 0px;
          border-collapse: collapse;
        }
        thead {
          th {
            border: 0px;
          }
        }
        #table_id_example tr:hover td {
          background-color: #454545 !important;
        }
        .odd {
          td:first-child {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(56, 58, 67);
          }
          td {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(56, 58, 67);
          }
        }

        .even {
          td:first-child {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(46, 48, 55);
          }
          td {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(46, 48, 55);
          }
        }
        #table_id_example_paginate {
          padding: 0px;
          margin-top: 10px;
          border: 2px solid #494b54;
          border-radius: 5px;
          a {
            color: rgb(129, 137, 145) !important;
          }
          .paginate_button:hover {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.1);
          }
          .paginate_button.current {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.3);
          }
          .paginate_button:active {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
    .leaveRecord {
      outline: none;
      padding: 20px;
      color: rgb(129, 137, 145);
      margin: 0 auto;
      .onWorkRecordInputContainer {
        background: rgb(46, 48, 55); //卡片顏色
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 5px;
        margin-bottom: 20px;
        .onWorkRecordDateSelect {
          display: flex;
          justify-content: center;
          margin-bottom: 10px;
          span {
            width: 100px;
          }
          input {
            max-width: 600px;
            width: 100%;
            border-radius: 5px;
            text-align: center;
            outline: none;
            color: #949ba2;
            border: none;
            box-shadow: none;
            transition: none;
            background-color: #494b54;
            font-size: 1rem;
          }
        }
        .onWorkRecordCompanySelect {
          display: flex;
          justify-content: center;
          margin-bottom: 10px;
          span {
            width: 100px;
          }
          select {
            max-width: 600px;
            width: 100%;
            text-align: center;
            text-align-last: center; /*兼容chrome*/
            color: #949ba2;
            border: none;
            box-shadow: none;
            transition: none;
            background-color: #494b54;
            font-size: 1rem;
            outline: none;
          }
        }
        .onWorkRecordDutySelect {
          display: flex;
          justify-content: center;
          margin-bottom: 10px;
          span {
            width: 100px;
          }
          select {
            max-width: 600px;
            width: 100%;
            text-align: center;
            text-align-last: center; /*兼容chrome*/
            color: #949ba2;
            border: none;
            box-shadow: none;
            transition: none;
            background-color: #494b54;
            font-size: 1rem;
            outline: none;
          }
        }
      }
      /*自定義datatable*/
      .onWorkRecordTable {
        background: rgb(46, 48, 55); //卡片顏色
        padding: 20px;
        border-radius: 5px;
        input,
        select {
          color: #949ba2;
          border: none;
          box-shadow: none;
          transition: none;
          background-color: #494b54;
          font-size: 1rem;
        }
        label,
        .dataTables_info {
          color: white;
        }
        table {
          border: 0px;
          border-collapse: collapse;
        }
        thead {
          th {
            border: 0px;
          }
        }
        #table_id_example tr:hover td {
          background-color: #454545 !important;
        }

        .odd {
          td:first-child {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(56, 58, 67);
          }
          td {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(56, 58, 67);
          }
        }

        .even {
          td:first-child {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(46, 48, 55);
          }
          td {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(46, 48, 55);
          }
        }

        #table_id_example_paginate {
          padding: 0px;
          margin-top: 10px;
          border: 2px solid #494b54;
          border-radius: 5px;
          a {
            color: rgb(129, 137, 145) !important;
          }
          .paginate_button:hover {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.1);
          }
          .paginate_button.current {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.3);
          }
          .paginate_button:active {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
    .leaveRefusalRecord {
      outline: none;
      padding: 20px;
      color: rgb(129, 137, 145);
      margin: 0 auto;
      /*自定義datatable*/
      .onWorkRecordTable {
        background: rgb(46, 48, 55); //卡片顏色
        padding: 20px;
        border-radius: 5px;
        input,
        select {
          color: #949ba2;
          border: none;
          box-shadow: none;
          transition: none;
          background-color: #494b54;
          font-size: 1rem;
        }
        label,
        .dataTables_info {
          color: white;
        }
        table {
          border: 0px;
          border-collapse: collapse;
        }
        thead {
          th {
            border: 0px;
          }
        }
        #table_id_example tr:hover td {
          background-color: #454545 !important;
        }

        .odd {
          td:first-child {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(56, 58, 67);
          }
          td {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(56, 58, 67);
          }
        }

        .even {
          td:first-child {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(46, 48, 55);
          }
          td {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(46, 48, 55);
          }
        }

        #table_id_example_paginate {
          padding: 0px;
          margin-top: 10px;
          border: 2px solid #494b54;
          border-radius: 5px;
          a {
            color: rgb(129, 137, 145) !important;
          }
          .paginate_button:hover {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.1);
          }
          .paginate_button.current {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.3);
          }
          .paginate_button:active {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
    .salaryPage {
      outline: none;
      padding: 20px;
      color: rgb(129, 137, 145);

      /*自定義datatable*/
      .onWorkRecordTable {
        background: rgb(46, 48, 55); //卡片顏色
        padding: 20px;
        border-radius: 5px;
        input,
        select {
          color: #949ba2;
          border: none;
          box-shadow: none;
          transition: none;
          background-color: #494b54;
          font-size: 1rem;
        }
        label,
        .dataTables_info {
          color: white;
        }
        table {
          border: 0px;
          border-collapse: collapse;
        }
        thead {
          th {
            border: 0px;
          }
        }
        #table_id_example tr:hover td {
          background-color: #454545 !important;
        }

        .odd {
          td:first-child {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(56, 58, 67);
          }
          td {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(56, 58, 67);
          }
        }

        .even {
          td:first-child {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(46, 48, 55);
          }
          td {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(46, 48, 55);
          }
        }
        #table_id_example_paginate {
          padding: 0px;
          margin-top: 10px;
          border: 2px solid #494b54;
          border-radius: 5px;
          a {
            color: rgb(129, 137, 145) !important;
          }
          .paginate_button:hover {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.1);
          }
          .paginate_button.current {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.3);
          }
          .paginate_button:active {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
    .performanceEquality {
      outline: none;
      padding: 20px;
      color: rgb(129, 137, 145);

      /*自定義datatable*/
      .onWorkRecordTable {
        background: rgb(46, 48, 55); //卡片顏色
        padding: 20px;
        border-radius: 5px;
        input,
        select {
          color: #949ba2;
          border: none;
          box-shadow: none;
          transition: none;
          background-color: #494b54;
          font-size: 1rem;
        }
        label,
        .dataTables_info {
          color: white;
        }
        table {
          border: 0px;
          border-collapse: collapse;
        }
        thead {
          th {
            border: 0px;
          }
        }
        #table_id_example tr:hover td {
          background-color: #454545 !important;
        }

        .odd {
          td:first-child {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(56, 58, 67);
          }
          td {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(56, 58, 67);
          }
        }

        .even {
          td:first-child {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(46, 48, 55);
          }
          td {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(46, 48, 55);
          }
        }

        #table_id_example_paginate {
          padding: 0px;
          margin-top: 10px;
          border: 2px solid #494b54;
          border-radius: 5px;
          a {
            color: rgb(129, 137, 145) !important;
          }
          .paginate_button:hover {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.1);
          }
          .paginate_button.current {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.3);
          }
          .paginate_button:active {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
}
@media (max-width: 415px) {
  body {
    font-family: apple !important;
  }
  .prev,
  .next {
    display: none;
  }

  .systemBodyContainer {
    position: relative;
    background: rgb(33, 36, 42);
    color: white;
    width: 100%;
    min-height: 1500px;

    .menuContainer {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: -200px;
      width: 200px;
      height: 100%;
      background: rgb(31, 34, 40);
      color: white;
      padding-top: 40px;
      z-index: 999;
      p {
        margin: 0px;
      }
      .menuItem {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        padding: 5px 20px;
        margin-top: 10px;
        cursor: pointer;
      }

      .subItem {
        height: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        cursor: pointer;
      }
      .more1-1,
      .more1-2,
      .more1-3 {
        padding: 5px 30px;
      }

      .menuLight {
        border-left: 5px solid rgb(245, 152, 26);
        padding-left: 15px;
      }
      .menuSubLight {
        border-left: 5px solid rgb(180, 106, 11);
        padding-left: 25px;
      }
    }

    .onWorkPage {
      .row1 {
        padding: 0px 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border-bottom: 1px solid grey;
        margin-bottom: 20px;
        .title {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 26px;
          i {
            margin-right: 20px;
            color: rgb(245, 152, 26);
          }
        }
      }
      .clockCard {
        display: flex;
        align-items: center;
        line-height: 1.2;
        height: 120px;
        margin-bottom: 10px;

        .clockTitle {
          display: flex;
          flex-direction: column;
          text-align: right;
          p:last-child {
            display: none;
            margin-top: 5px;
            color: rgb(245, 152, 26);
            text-shadow: 0 0 20px rgb(245, 152, 26), 0 0 20px rgba(10, 175, 230, 0);
          }
        }
      }
      .row2 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border-radius: 5px;
        .months-container {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          max-width: 1000px;
          .month-container {
            margin: 10px;
          }
        }
        .row2-1 {
          display: flex;
          flex-wrap: wrap;
          max-width: 1000px;

          width: 100%;
          .selectCard {
            flex-grow: 3;
            padding: 20px;
            background: rgb(44, 46, 54);
            margin: 10px;
            .selectTitle {
              margin-bottom: 10px;
              font-size: 20px;
            }
            select {
              width: 100%;
              outline: none;
              border: 1px solid white;
            }
          }
          .ipInfo {
            flex-grow: 2;
            margin: 10px;
            padding: 20px;
            background: rgb(44, 46, 54);
            letter-spacing: 0px;
            line-height: 1.5;
            .ipInfoTitle {
              font-size: 20px;
              margin-bottom: 10px;
            }
          }
          .statusIntroduction {
            flex-grow: 5;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: baseline;

            margin: 10px;
            padding: 20px;
            background: rgb(44, 46, 54);
            letter-spacing: 2px;
            line-height: 1.5;
            font-size: 14px;
            .statusTitle {
              font-size: 16px;
              margin-bottom: 10px;
            }
            .statusContainer {
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;
              p {
                padding-right: 5px;
              }
              .statusContainer1 {
                width: 15px;
                height: 15px;
                background: turquoise;
                border-radius: 5px;
              }
              .statusContainer2 {
                width: 15px;
                border-bottom: 4px solid green;
              }
              .statusContainer3 {
                width: 15px;
                border-bottom: 4px solid steelblue;
              }
              .statusContainer4 {
                width: 15px;
                border-bottom: 4px solid orange;
              }
            }
          }
        }
      }
    }
    .onWorkRecord {
      outline: none;
      padding: 20px;
      color: rgb(129, 137, 145);

      .onWorkRecordInputContainer {
        background: rgb(46, 48, 55); //卡片顏色
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 5px;
        margin-bottom: 20px;
        .onWorkRecordDateSelect {
          display: flex;
          justify-content: center;
          margin-bottom: 10px;
          font-size: 14px;
          span {
            font-size: 14px;
            width: 100px;
          }
          input {
            max-width: 600px;
            width: 100%;
            border-radius: 5px;
            text-align: center;
            outline: none;
            color: #949ba2;
            border: none;
            box-shadow: none;
            transition: none;
            background-color: #494b54;
            font-size: 1rem;
          }
        }
        .onWorkRecordCompanySelect {
          display: flex;
          justify-content: center;
          margin-bottom: 10px;
          span {
            font-size: 14px;
            width: 100px;
          }
          select {
            font-size: 14px;
            max-width: 600px;
            width: 100%;
            text-align: center;
            text-align-last: center; /*兼容chrome*/
            color: #949ba2;
            border: none;
            box-shadow: none;
            transition: none;
            background-color: #494b54;
            font-size: 1rem;
            outline: none;
          }
        }
        .onWorkRecordDutySelect {
          display: flex;
          justify-content: center;
          margin-bottom: 10px;
          span {
            width: 100px;
            font-size: 14px;
          }
          select {
            font-size: 14px;
            max-width: 600px;
            width: 100%;
            text-align: center;
            text-align-last: center; /*兼容chrome*/
            color: #949ba2;
            border: none;
            box-shadow: none;
            transition: none;
            background-color: #494b54;
            font-size: 1rem;
            outline: none;
          }
        }
      }
      /*自定義datatable*/
      .onWorkRecordTable {
        background: rgb(46, 48, 55); //卡片顏色
        padding: 20px;
        border-radius: 5px;
        input,
        select {
          color: #949ba2;
          border: none;
          box-shadow: none;
          transition: none;
          background-color: #494b54;
          font-size: 1rem;
        }
        label,
        .dataTables_info {
          color: white;
        }
        table {
          border: 0px;
          border-collapse: collapse;
        }
        thead {
          th {
            border: 0px;
          }
        }
        #table_id_example tr:hover td {
          background-color: #454545 !important;
        }

        .odd {
          td:first-child {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(56, 58, 67);
          }
          td {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(56, 58, 67);
          }
        }

        .even {
          td:first-child {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(46, 48, 55);
          }
          td {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(46, 48, 55);
          }
        }
        #table_id_example_paginate {
          padding: 0px;
          margin-top: 10px;
          border: 2px solid #494b54;
          border-radius: 5px;
          a {
            color: rgb(129, 137, 145) !important;
          }
          .paginate_button:hover {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.1);
          }
          .paginate_button.current {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.3);
          }
          .paginate_button:active {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
    .leaveRecord {
      outline: none;
      padding: 20px;
      color: rgb(129, 137, 145);
      .onWorkRecordInputContainer {
        background: rgb(46, 48, 55); //卡片顏色
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 5px;
        margin-bottom: 20px;
        .onWorkRecordDateSelect {
          display: flex;
          justify-content: center;
          margin-bottom: 10px;
          font-size: 14px;
          span {
            font-size: 14px;
            width: 100px;
          }
          input {
            max-width: 600px;
            width: 100%;
            border-radius: 5px;
            text-align: center;
            outline: none;
            color: #949ba2;
            border: none;
            box-shadow: none;
            transition: none;
            background-color: #494b54;
            font-size: 1rem;
          }
        }
        .onWorkRecordCompanySelect {
          display: flex;
          justify-content: center;
          margin-bottom: 10px;
          span {
            font-size: 14px;
            width: 100px;
          }
          select {
            font-size: 14px;
            max-width: 600px;
            width: 100%;
            text-align: center;
            text-align-last: center; /*兼容chrome*/
            color: #949ba2;
            border: none;
            box-shadow: none;
            transition: none;
            background-color: #494b54;
            font-size: 1rem;
            outline: none;
          }
        }
        .onWorkRecordDutySelect {
          display: flex;
          justify-content: center;
          margin-bottom: 10px;
          span {
            width: 100px;
            font-size: 14px;
          }
          select {
            font-size: 14px;
            max-width: 600px;
            width: 100%;
            text-align: center;
            text-align-last: center; /*兼容chrome*/
            color: #949ba2;
            border: none;
            box-shadow: none;
            transition: none;
            background-color: #494b54;
            font-size: 1rem;
            outline: none;
          }
        }
      }
      /*自定義datatable*/
      .onWorkRecordTable {
        background: rgb(46, 48, 55); //卡片顏色
        padding: 20px;
        border-radius: 5px;
        input,
        select {
          color: #949ba2;
          border: none;
          box-shadow: none;
          transition: none;
          background-color: #494b54;
          font-size: 1rem;
        }
        label,
        .dataTables_info {
          color: white;
        }
        table {
          border: 0px;
          border-collapse: collapse;
        }
        thead {
          th {
            border: 0px;
          }
        }
        #table_id_example tr:hover td {
          background-color: #454545 !important;
        }

        .odd {
          td:first-child {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(56, 58, 67);
          }
          td {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(56, 58, 67);
          }
        }

        .even {
          td:first-child {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(46, 48, 55);
          }
          td {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(46, 48, 55);
          }
        }
        #table_id_example_paginate {
          padding: 0px;
          margin-top: 10px;
          border: 2px solid #494b54;
          border-radius: 5px;
          a {
            color: rgb(129, 137, 145) !important;
          }
          .paginate_button:hover {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.1);
          }
          .paginate_button.current {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.3);
          }
          .paginate_button:active {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
    .leaveRefusalRecord {
      outline: none;
      padding: 20px;
      color: rgb(129, 137, 145);

      /*自定義datatable*/
      .onWorkRecordTable {
        background: rgb(46, 48, 55); //卡片顏色
        padding: 20px;
        border-radius: 5px;
        input,
        select {
          color: #949ba2;
          border: none;
          box-shadow: none;
          transition: none;
          background-color: #494b54;
          font-size: 1rem;
        }
        label,
        .dataTables_info {
          color: white;
        }
        table {
          border: 0px;
          border-collapse: collapse;
        }
        thead {
          th {
            border: 0px;
          }
        }
        #table_id_example tr:hover td {
          background-color: #454545 !important;
        }

        .odd {
          td:first-child {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(56, 58, 67);
          }
          td {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(56, 58, 67);
          }
        }

        .even {
          td:first-child {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(46, 48, 55);
          }
          td {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(46, 48, 55);
          }
        }
        #table_id_example_paginate {
          padding: 0px;
          margin-top: 10px;
          border: 2px solid #494b54;
          border-radius: 5px;
          a {
            color: rgb(129, 137, 145) !important;
          }
          .paginate_button:hover {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.1);
          }
          .paginate_button.current {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.3);
          }
          .paginate_button:active {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
    .salaryPage {
      outline: none;
      padding: 20px;
      color: rgb(129, 137, 145);

      /*自定義datatable*/
      .onWorkRecordTable {
        background: rgb(46, 48, 55); //卡片顏色
        padding: 20px;
        border-radius: 5px;
        input,
        select {
          color: #949ba2;
          border: none;
          box-shadow: none;
          transition: none;
          background-color: #494b54;
          font-size: 1rem;
        }
        label,
        .dataTables_info {
          color: white;
        }
        table {
          border: 0px;
          border-collapse: collapse;
        }
        thead {
          th {
            border: 0px;
          }
        }
        #table_id_example tr:hover td {
          background-color: #454545 !important;
        }

        .odd {
          td:first-child {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(56, 58, 67);
          }
          td {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(56, 58, 67);
          }
        }

        .even {
          td:first-child {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(46, 48, 55);
          }
          td {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(46, 48, 55);
          }
        }
        #table_id_example_paginate {
          padding: 0px;
          margin-top: 10px;
          border: 2px solid #494b54;
          border-radius: 5px;
          a {
            color: rgb(129, 137, 145) !important;
          }
          .paginate_button:hover {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.1);
          }
          .paginate_button.current {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.3);
          }
          .paginate_button:active {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
    .performanceEquality {
      outline: none;
      padding: 20px;
      color: rgb(129, 137, 145);

      /*自定義datatable*/
      .onWorkRecordTable {
        background: rgb(46, 48, 55); //卡片顏色
        padding: 20px;
        border-radius: 5px;
        input,
        select {
          color: #949ba2;
          border: none;
          box-shadow: none;
          transition: none;
          background-color: #494b54;
          font-size: 1rem;
        }
        label,
        .dataTables_info {
          color: white;
        }
        table {
          border: 0px;
          border-collapse: collapse;
        }
        thead {
          th {
            border: 0px;
          }
        }
        #table_id_example tr:hover td {
          background-color: #454545 !important;
        }

        .odd {
          td:first-child {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(56, 58, 67);
          }
          td {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(56, 58, 67);
          }
        }

        .even {
          td:first-child {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(46, 48, 55);
          }
          td {
            border-top: 2px solid rgb(54, 56, 64);
            border-bottom: 2px solid rgb(46, 48, 55);
            border-right: 2px solid rgb(46, 48, 55);
            background: rgb(46, 48, 55);
          }
        }

        #table_id_example_paginate {
          padding: 0px;
          margin-top: 10px;
          border: 2px solid #494b54;
          border-radius: 5px;
          a {
            color: rgb(129, 137, 145) !important;
          }
          .paginate_button:hover {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.1);
          }
          .paginate_button.current {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.3);
          }
          .paginate_button:active {
            outline: none;
            border: 0px;
            background: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
}
