@charset "UTF-8";
@font-face {
  font-family: apple;
  src: url(/fonts/GenJyuuGothic-Monospace-Normal.ttf);
}

.child {
  white-space: normal !important;
  background: #2e3037;
}

.child li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px !important;
}

.child li .dtr-title {
  min-width: 100px !important;
  padding-right: 5px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #494b54;
}

.child li .dtr-data {
  padding: 20px;
}

.selfTablecContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.selfTablecContainer .selfTableFunctionEdit {
  outline: none;
  padding: 5px;
  color: white !important;
  background: transparent !important;
  border: 0px;
  border-radius: 5px;
}

.selfTablecContainer .selfTableFunctionTrash {
  outline: none;
  padding: 5px;
  color: white !important;
  background: transparent !important;
  border-radius: 5px;
  border: 0px;
}

.selfTablecContainer .selfTableFunctionEdit:active {
  color: steelblue;
}

.selfTablecContainer .selfTableFunctionTrash:active {
  color: red;
}

.selfTableFunctionTHContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.selfTableFunctionTHContainer .selfTableFunctionAdd {
  color: white !important;
  background: #2e3037 !important;
  border: 0px;
  outline: none;
}

@media (min-width: 767px) {
  body {
    font-family: apple !important;
  }
  .systemBodyContainer {
    position: relative;
    background: #25262e;
    color: white;
    padding: 40px 40px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
  }
  .systemBodyContainer .fixedDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    letter-spacing: 2px;
    padding: 20px;
    background: #313131;
    border-radius: 7px;
    position: fixed;
    top: 80px;
    right: 20px;
  }
  .systemBodyContainer .resumeContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 1400px;
    margin: auto;
  }
  .systemBodyContainer .resumeContainer .userImageContainer {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 400px;
    position: -webkit-sticky;
    position: sticky;
    -ms-flex-item-align: start;
        align-self: flex-start;
    top: 20px;
  }
  .systemBodyContainer .resumeContainer .userImageContainer .userimage {
    background-image: url(https://picsum.photos/id/40/300/300);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid #2e3037;
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .systemBodyContainer .resumeContainer .userImageContainer .userimageText {
    padding: 10px 40px 10px 40px;
    background: #2e3037;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .systemBodyContainer .resumeContainer .userImageContainer .userimageText p {
    margin: 0px;
  }
  .systemBodyContainer .resumeContainer .userImageContainer .userimageText:hover {
    cursor: pointer;
    background: #393a42;
  }
  .systemBodyContainer .resumeContainer .userImageContainer .userDataUpdate {
    padding: 10px 40px 10px 40px;
    background: #2e3037;
    margin-top: 40px;
  }
  .systemBodyContainer .resumeContainer .userImageContainer .userDataUpdate p {
    margin: 0px;
  }
  .systemBodyContainer .resumeContainer .userImageContainer .userDataUpdate:hover {
    cursor: pointer;
    background: #393a42;
  }
  .systemBodyContainer .resumeContainer .Info {
    margin: 10px;
    width: 900px;
  }
  .systemBodyContainer .resumeContainer .Info .baseInfoTitle {
    padding: 20px 0px 10px 0px;
    font-size: 20px;
    border-bottom: 2px solid #393a42;
    margin-bottom: 20px;
  }
  .systemBodyContainer .resumeContainer .Info .baseInfoContent {
    background: #2e3037;
    padding: 20px 30px 20px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    letter-spacing: 2px;
  }
  .systemBodyContainer .resumeContainer .Info .baseInfoContent .baseInfoContentRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 2px solid #393a42;
  }
  .systemBodyContainer .resumeContainer .Info .baseInfoContent .baseInfoContentRowTextArea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .systemBodyContainer .resumeContainer .Info .baseInfoContent .baseInfoContentRowTextArea textarea {
    padding: 20px;
    margin-top: 20px;
    outline: none;
    background: #494b54;
    color: white;
    border: 0px;
    resize: none;
    overflow: auto;
  }
  .systemBodyContainer .resumeContainer .Info .baseInfoContent select {
    text-align: center;
    text-align-last: center;
    /*兼容chrome*/
    color: white;
    outline: none;
    max-width: 300px;
    background: #2e3037;
    border-color: #393a42;
  }
  .systemBodyContainer .resumeContainer .Info .baseInfoContent option {
    text-align: center;
  }
  .systemBodyContainer .resumeContainer .Info .baseInfoContent input {
    color: white;
    background: #2e3037;
    outline: none;
    border-style: solid;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px;
    text-align: right;
  }
  .systemBodyContainer .resumeContainer .Info .baseInfoContent .nameInput {
    max-width: 300px;
  }
  .systemBodyContainer .resumeContainer .Info .eduTitle {
    padding: 20px 0px 10px 0px;
    font-size: 20px;
    border-bottom: 2px solid #393a42;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .systemBodyContainer .resumeContainer .Info .eduTitle .titleP {
    margin: 0;
  }
  .systemBodyContainer .resumeContainer .Info .eduTitle .titleb {
    margin: 0;
    border: 2px solid #393a42;
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 10px;
  }
  .systemBodyContainer .resumeContainer .Info .eduTitle .titleb:hover {
    background: #393a42;
    color: #25262e;
    cursor: pointer;
  }
  .systemBodyContainer .resumeContainer .Info .eduInfoContent {
    padding: 20px 30px 20px 30px;
    letter-spacing: 2px;
    background: #2e3037;
  }
  .systemBodyContainer .resumeContainer .Info .eduInfoContent .eduInfoContentRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 10px;
  }
  .systemBodyContainer .resumeContainer .Info .eduInfoContent input {
    max-width: 300px;
    color: white;
    background: #494b54;
    border-radius: 5px;
    outline: none;
    border-style: solid;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px;
    text-align: center;
  }
  .systemBodyContainer .resumeContainer .Info .workTitle {
    padding: 20px 0px 10px 0px;
    font-size: 20px;
    border-bottom: 2px solid #393a42;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .systemBodyContainer .resumeContainer .Info .workTitle .titleP {
    margin: 0;
  }
  .systemBodyContainer .resumeContainer .Info .workTitle .titleb {
    margin: 0;
    border: 2px solid #393a42;
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 10px;
  }
  .systemBodyContainer .resumeContainer .Info .workTitle .titleb:hover {
    background: #393a42;
    color: #25262e;
    cursor: pointer;
  }
  .systemBodyContainer .resumeContainer .Info .workInfoContent {
    padding: 20px 30px 20px 30px;
    letter-spacing: 2px;
    background: #2e3037;
  }
  .systemBodyContainer .resumeContainer .Info .workInfoContent .workInfoContentRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 10px;
  }
  .systemBodyContainer .resumeContainer .Info .workInfoContent input {
    max-width: 300px;
    color: white;
    background: #494b54;
    border-radius: 5px;
    outline: none;
    border-style: solid;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px;
    text-align: center;
  }
  .systemBodyContainer .resumeContainer .Info .skillTitle {
    padding: 20px 0px 10px 0px;
    font-size: 20px;
    border-bottom: 2px solid #393a42;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .systemBodyContainer .resumeContainer .Info .skillTitle .titleP {
    margin: 0;
  }
  .systemBodyContainer .resumeContainer .Info .skillTitle .titleb {
    margin: 0;
    border: 2px solid #393a42;
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 10px;
  }
  .systemBodyContainer .resumeContainer .Info .skillTitle .titleb:hover {
    background: #393a42;
    color: #25262e;
    cursor: pointer;
  }
  .systemBodyContainer .resumeContainer .Info .skillInfoContent {
    padding: 20px 30px 20px 30px;
    letter-spacing: 2px;
    background: #2e3037;
  }
  .systemBodyContainer .resumeContainer .Info .skillInfoContent .skillInfoContentRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 10px;
  }
  .systemBodyContainer .resumeContainer .Info .skillInfoContent input {
    max-width: 300px;
    color: white;
    background: #494b54;
    border-radius: 5px;
    outline: none;
    border-style: solid;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px;
    text-align: center;
  }
  .systemBodyContainer .resumeContainer .Info .keyPositionTitle {
    padding: 20px 0px 10px 0px;
    font-size: 20px;
    border-bottom: 2px solid #393a42;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .systemBodyContainer .resumeContainer .Info .keyPositionTitle .titleP {
    margin: 0;
  }
  .systemBodyContainer .resumeContainer .Info .keyPositionContent {
    padding: 20px 30px 20px 30px;
    letter-spacing: 2px;
    background: #2e3037;
    /*自定義datatable*/
    color: #818991;
  }
  .systemBodyContainer .resumeContainer .Info .keyPositionContent input,
  .systemBodyContainer .resumeContainer .Info .keyPositionContent select {
    color: #949ba2;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: none;
    transition: none;
    background-color: #494b54;
    font-size: 1rem;
  }
  .systemBodyContainer .resumeContainer .Info .keyPositionContent label,
  .systemBodyContainer .resumeContainer .Info .keyPositionContent .dataTables_info {
    color: white;
  }
  .systemBodyContainer .resumeContainer .Info .keyPositionContent table {
    border: 0px;
    border-collapse: collapse;
  }
  .systemBodyContainer .resumeContainer .Info .keyPositionContent thead th {
    border: 0px;
  }
  .systemBodyContainer .resumeContainer .Info .keyPositionContent .odd td {
    border-top: 2px solid #363840;
    border-bottom: 2px solid #2e3037;
    border-right: 2px solid #2e3037;
    background: #383a43;
  }
  .systemBodyContainer .resumeContainer .Info .keyPositionContent .even td {
    border-top: 2px solid #363840;
    border-bottom: 2px solid #2e3037;
    border-right: 2px solid #2e3037;
    background: #2e3037;
  }
  .systemBodyContainer .resumeContainer .Info .businessTitle {
    padding: 20px 0px 10px 0px;
    font-size: 20px;
    border-bottom: 2px solid #393a42;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .systemBodyContainer .resumeContainer .Info .businessTitle .titleP {
    margin: 0;
  }
  .systemBodyContainer .resumeContainer .Info .businessContent {
    padding: 20px 30px 20px 30px;
    letter-spacing: 2px;
    background: #2e3037;
    /*自定義datatable*/
    color: #818991;
  }
  .systemBodyContainer .resumeContainer .Info .businessContent table.dataTable.display tbody tr.odd > .sorting_1,
  .systemBodyContainer .resumeContainer .Info .businessContent table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    border-top: 2px solid #363840;
    border-bottom: 2px solid #2e3037;
    border-right: 2px solid #2e3037;
    background: #383a43 !important;
  }
  .systemBodyContainer .resumeContainer .Info .businessContent table.dataTable.display tbody tr.even > .sorting_1,
  .systemBodyContainer .resumeContainer .Info .businessContent table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
    border-top: 2px solid #363840;
    border-bottom: 2px solid #2e3037;
    border-right: 2px solid #2e3037;
    background: #2e3037 !important;
  }
  .systemBodyContainer .resumeContainer .Info .businessContent #table_id_example12 tr:hover td {
    background-color: #454545 !important;
  }
  .systemBodyContainer .resumeContainer .Info .businessContent #table_id_example12_paginate {
    padding: 0px;
    margin-top: 10px;
    border: 2px solid #494b54;
    border-radius: 5px;
  }
  .systemBodyContainer .resumeContainer .Info .businessContent #table_id_example12_paginate a {
    color: #818991 !important;
  }
  .systemBodyContainer .resumeContainer .Info .businessContent #table_id_example12_paginate .paginate_button:hover {
    outline: none;
    border: 0px;
    background: rgba(0, 0, 0, 0.1);
  }
  .systemBodyContainer .resumeContainer .Info .businessContent #table_id_example12_paginate .paginate_button.current {
    outline: none;
    border: 0px;
    background: rgba(0, 0, 0, 0.3);
  }
  .systemBodyContainer .resumeContainer .Info .businessContent #table_id_example12_paginate .paginate_button:active {
    outline: none;
    border: 0px;
    background: rgba(0, 0, 0, 0.1);
  }
  .systemBodyContainer .resumeContainer .Info .businessContent input,
  .systemBodyContainer .resumeContainer .Info .businessContent select {
    color: #949ba2;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: none;
    transition: none;
    background-color: #494b54;
    font-size: 1rem;
  }
  .systemBodyContainer .resumeContainer .Info .businessContent label,
  .systemBodyContainer .resumeContainer .Info .businessContent .dataTables_info {
    color: white;
  }
  .systemBodyContainer .resumeContainer .Info .businessContent table {
    border: 0px;
    border-collapse: collapse;
  }
  .systemBodyContainer .resumeContainer .Info .businessContent thead th {
    border: 0px;
  }
  .systemBodyContainer .resumeContainer .Info .businessContent .odd td {
    border-top: 2px solid #363840;
    border-bottom: 2px solid #2e3037;
    border-right: 2px solid #2e3037;
    background: #383a43;
  }
  .systemBodyContainer .resumeContainer .Info .businessContent .even td {
    border-top: 2px solid #363840;
    border-bottom: 2px solid #2e3037;
    border-right: 2px solid #2e3037;
    background: #2e3037;
  }
}

@media (max-width: 415px) {
  body {
    font-family: apple !important;
  }
  .systemBodyContainer {
    position: relative;
    background: #25262e;
    color: white;
    padding: 40px 10px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
  }
  .systemBodyContainer .fixedDiv {
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    letter-spacing: 2px;
    padding: 10px;
    background: #313131;
    border-radius: 7px;
    position: fixed;
    top: 50px;
    right: 10px;
    z-index: 888;
  }
  .systemBodyContainer .resumeContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 1400px;
    margin: auto;
  }
  .systemBodyContainer .resumeContainer .userImageContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 400px;
  }
  .systemBodyContainer .resumeContainer .userImageContainer .userimage {
    background-image: url(https://picsum.photos/id/40/300/300);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid #2e3037;
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .systemBodyContainer .resumeContainer .userImageContainer .phoneButtonGp {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    background: #393a42;
    border-radius: 5px;
    position: fixed;
    bottom: 0px;
    z-index: 888;
  }
  .systemBodyContainer .resumeContainer .userImageContainer .userimageText {
    padding: 10px 40px 10px 40px;
    background: #2e3037;
    border-radius: 10px;
  }
  .systemBodyContainer .resumeContainer .userImageContainer .userimageText p {
    margin: 0px;
  }
  .systemBodyContainer .resumeContainer .userImageContainer .userimageText:active {
    background: #393a42;
  }
  .systemBodyContainer .resumeContainer .userImageContainer .userDataUpdate {
    border-radius: 10px;
    padding: 10px 40px 10px 40px;
    background: #2e3037;
    margin-top: 10px;
  }
  .systemBodyContainer .resumeContainer .userImageContainer .userDataUpdate p {
    margin: 0px;
  }
  .systemBodyContainer .resumeContainer .userImageContainer .userDataUpdate:active {
    background: #393a42;
  }
  .systemBodyContainer .resumeContainer .Info {
    margin: 10px;
    width: 900px;
  }
  .systemBodyContainer .resumeContainer .Info .baseInfoTitle {
    padding: 20px 0px 10px 0px;
    font-size: 20px;
    border-bottom: 2px solid #393a42;
    margin-bottom: 20px;
  }
  .systemBodyContainer .resumeContainer .Info .baseInfoContent {
    background: #2e3037;
    padding: 20px 20px 20px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    letter-spacing: 2px;
  }
  .systemBodyContainer .resumeContainer .Info .baseInfoContent .baseInfoContentRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 2px solid #393a42;
    font-size: 14px;
  }
  .systemBodyContainer .resumeContainer .Info .baseInfoContent .baseInfoContentRowTextArea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .systemBodyContainer .resumeContainer .Info .baseInfoContent .baseInfoContentRowTextArea textarea {
    padding: 20px;
    margin-top: 20px;
    outline: none;
    background: #494b54;
    color: white;
    border: 0px;
    resize: none;
    overflow: auto;
  }
  .systemBodyContainer .resumeContainer .Info .baseInfoContent select {
    text-align: center;
    text-align-last: center;
    /*兼容chrome*/
    color: white;
    outline: none;
    max-width: 300px;
    background: #2e3037;
    border-color: #393a42;
  }
  .systemBodyContainer .resumeContainer .Info .baseInfoContent option {
    text-align: center;
  }
  .systemBodyContainer .resumeContainer .Info .baseInfoContent input {
    color: white;
    background: #2e3037;
    outline: none;
    border-style: solid;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px;
    text-align: right;
  }
  .systemBodyContainer .resumeContainer .Info .baseInfoContent .nameInput {
    max-width: 300px;
  }
  .systemBodyContainer .resumeContainer .Info .eduTitle {
    padding: 20px 0px 10px 0px;
    font-size: 20px;
    border-bottom: 2px solid #393a42;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px;
  }
  .systemBodyContainer .resumeContainer .Info .eduTitle .titleP {
    margin: 0;
  }
  .systemBodyContainer .resumeContainer .Info .eduTitle .titleb {
    margin: 0;
    border: 2px solid #393a42;
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 10px;
  }
  .systemBodyContainer .resumeContainer .Info .eduTitle .titleb:hover {
    background: #393a42;
    color: #25262e;
    cursor: pointer;
  }
  .systemBodyContainer .resumeContainer .Info .eduInfoContent {
    padding: 20px 30px 20px 30px;
    letter-spacing: 2px;
    background: #2e3037;
  }
  .systemBodyContainer .resumeContainer .Info .eduInfoContent .eduInfoContentRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 10px;
  }
  .systemBodyContainer .resumeContainer .Info .eduInfoContent input {
    max-width: 300px;
    color: white;
    background: #494b54;
    border-radius: 5px;
    outline: none;
    border-style: solid;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px;
    text-align: center;
  }
  .systemBodyContainer .resumeContainer .Info .workTitle {
    padding: 20px 0px 10px 0px;
    font-size: 20px;
    border-bottom: 2px solid #393a42;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px;
  }
  .systemBodyContainer .resumeContainer .Info .workTitle .titleP {
    margin: 0;
  }
  .systemBodyContainer .resumeContainer .Info .workTitle .titleb {
    margin: 0;
    border: 2px solid #393a42;
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 10px;
  }
  .systemBodyContainer .resumeContainer .Info .workTitle .titleb:hover {
    background: #393a42;
    color: #25262e;
    cursor: pointer;
  }
  .systemBodyContainer .resumeContainer .Info .workInfoContent {
    padding: 20px 30px 20px 30px;
    letter-spacing: 2px;
    background: #2e3037;
  }
  .systemBodyContainer .resumeContainer .Info .workInfoContent .workInfoContentRow {
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 10px;
  }
  .systemBodyContainer .resumeContainer .Info .workInfoContent input {
    max-width: 300px;
    color: white;
    background: #494b54;
    border-radius: 5px;
    outline: none;
    border-style: solid;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px;
    text-align: center;
  }
  .systemBodyContainer .resumeContainer .Info .skillTitle {
    padding: 20px 0px 10px 0px;
    font-size: 16px;
    border-bottom: 2px solid #393a42;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .systemBodyContainer .resumeContainer .Info .skillTitle .titleP {
    margin: 0;
  }
  .systemBodyContainer .resumeContainer .Info .skillTitle .titleb {
    margin: 0;
    border: 2px solid #393a42;
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 10px;
  }
  .systemBodyContainer .resumeContainer .Info .skillTitle .titleb:hover {
    background: #393a42;
    color: #25262e;
    cursor: pointer;
  }
  .systemBodyContainer .resumeContainer .Info .skillInfoContent {
    padding: 20px 30px 20px 30px;
    letter-spacing: 2px;
    background: #2e3037;
  }
  .systemBodyContainer .resumeContainer .Info .skillInfoContent .skillInfoContentRow {
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 10px;
  }
  .systemBodyContainer .resumeContainer .Info .skillInfoContent input {
    max-width: 300px;
    color: white;
    background: #494b54;
    border-radius: 5px;
    outline: none;
    border-style: solid;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px;
    text-align: center;
  }
  .systemBodyContainer .resumeContainer .Info .businessTitle {
    padding: 20px 0px 10px 0px;
    font-size: 20px;
    border-bottom: 2px solid #393a42;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px;
  }
  .systemBodyContainer .resumeContainer .Info .businessTitle .titleP {
    margin: 0;
  }
  .systemBodyContainer .resumeContainer .Info .businessContent {
    font-size: 14px;
    max-width: 350px;
    padding: 20px 10px 20px 10px;
    letter-spacing: 2px;
    background: #2e3037;
    /*自定義datatable*/
    color: #818991;
  }
  .systemBodyContainer .resumeContainer .Info .businessContent table.dataTable.display tbody tr.odd > .sorting_1,
  .systemBodyContainer .resumeContainer .Info .businessContent table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    border-top: 2px solid #363840;
    border-bottom: 2px solid #2e3037;
    border-right: 2px solid #2e3037;
    background: #383a43 !important;
  }
  .systemBodyContainer .resumeContainer .Info .businessContent table.dataTable.display tbody tr.even > .sorting_1,
  .systemBodyContainer .resumeContainer .Info .businessContent table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
    border-top: 2px solid #363840;
    border-bottom: 2px solid #2e3037;
    border-right: 2px solid #2e3037;
    background: #2e3037 !important;
  }
  .systemBodyContainer .resumeContainer .Info .businessContent #table_id_example11 tr:hover td {
    background-color: #454545 !important;
  }
  .systemBodyContainer .resumeContainer .Info .businessContent #table_id_example11_paginate {
    padding: 0px;
    margin-top: 10px;
    border: 2px solid #494b54;
    border-radius: 5px;
  }
  .systemBodyContainer .resumeContainer .Info .businessContent #table_id_example11_paginate a {
    color: #818991 !important;
  }
  .systemBodyContainer .resumeContainer .Info .businessContent #table_id_example11_paginate .paginate_button:hover {
    outline: none;
    border: 0px;
    background: rgba(0, 0, 0, 0.1);
  }
  .systemBodyContainer .resumeContainer .Info .businessContent #table_id_example11_paginate .paginate_button.current {
    outline: none;
    border: 0px;
    background: rgba(0, 0, 0, 0.3);
  }
  .systemBodyContainer .resumeContainer .Info .businessContent #table_id_example11_paginate .paginate_button:active {
    outline: none;
    border: 0px;
    background: rgba(0, 0, 0, 0.1);
  }
  .systemBodyContainer .resumeContainer .Info .businessContent input,
  .systemBodyContainer .resumeContainer .Info .businessContent select {
    color: #949ba2;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: none;
    transition: none;
    background-color: #494b54;
    font-size: 1rem;
  }
  .systemBodyContainer .resumeContainer .Info .businessContent label,
  .systemBodyContainer .resumeContainer .Info .businessContent .dataTables_info {
    color: white;
  }
  .systemBodyContainer .resumeContainer .Info .businessContent table {
    border: 0px;
    border-collapse: collapse;
  }
  .systemBodyContainer .resumeContainer .Info .businessContent thead th {
    border: 0px;
  }
  .systemBodyContainer .resumeContainer .Info .businessContent .odd td {
    border-top: 2px solid #363840;
    border-bottom: 2px solid #2e3037;
    border-right: 2px solid #2e3037;
    background: #383a43;
  }
  .systemBodyContainer .resumeContainer .Info .businessContent .even td {
    border-top: 2px solid #363840;
    border-bottom: 2px solid #2e3037;
    border-right: 2px solid #2e3037;
    background: #2e3037;
  }
}
/*# sourceMappingURL=system-teacherResume.css.map */