@charset "UTF-8";
select {
  width: 150px;
  text-align-last: center;
  outline: none;
  background: white;
}

.positionTitle {
  color: #AAAAAA;
  margin: 0px;
  font-size: 16px;
}

.positionDataContainer {
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

@media (max-width: 416px) {
  .eduInfoContent {
    padding: 15px !important;
  }
}

.courseSetContainer {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.Info {
  color: white;
  margin: 10px;
}

.Info .baseInfoTitle {
  padding: 20px 0px 10px 0px;
  font-size: 20px;
  border-bottom: 2px solid #393a42;
  margin-bottom: 20px;
}

.Info .baseInfoContent {
  background: #2e3037;
  padding: 20px 30px 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  letter-spacing: 2px;
}

.Info .baseInfoContent .baseInfoContentRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 2px solid #393a42;
}

.Info .baseInfoContent .baseInfoContentRowTextArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 2px solid #393a42;
}

.Info .baseInfoContent .baseInfoContentRowTextArea textarea {
  padding: 20px;
  margin-top: 20px;
  outline: none;
  background: #494b54;
  color: white;
  border: 0px;
  resize: none;
  overflow: auto;
}

.Info .baseInfoContent select {
  text-align: center;
  text-align-last: center;
  /*兼容chrome*/
  color: white;
  outline: none;
  max-width: 300px;
  background: #2e3037;
  border-color: #393a42;
}

.Info .baseInfoContent option {
  text-align: center;
}

.Info .baseInfoContent input {
  color: white;
  background: #2e3037;
  outline: none;
  border-style: solid;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-left: 0px;
  text-align: right;
}

.Info .baseInfoContent .nameInput {
  max-width: 300px;
  border-radius: 5px;
  background-color: #393a42;
  padding: 5px;
  text-align: center;
}

.Info .eduTitle {
  padding: 20px 0px 10px 0px;
  font-size: 20px;
  border-bottom: 2px solid #393a42;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Info .eduTitle .titleP {
  margin: 0;
}

.Info .eduTitle .titleb {
  margin: 0;
  border: 2px solid #393a42;
  font-size: 16px;
  padding: 5px 20px;
  border-radius: 10px;
}

.Info .eduTitle .titleb:hover {
  background: #393a42;
  color: #25262e;
  cursor: pointer;
}

.Info .eduInfoContent {
  padding: 20px 30px 20px 30px;
  letter-spacing: 2px;
  background: #2e3037;
}

.Info .eduInfoContent .eduInfoContentRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.Info .eduInfoContent .eduInfoContentRow textarea {
  max-width: 500px;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  outline: none;
  background: #494b54;
  color: white;
  border: 0px;
  resize: none;
  overflow: auto;
}

.Info .eduInfoContent .eduInfoContentRow .settitle {
  margin-bottom: 10px;
}

.Info .eduInfoContent .eduInput {
  max-width: 500px;
  width: 100%;
  color: white;
  background: #494b54;
  border-radius: 5px;
  border-style: solid;
  border: 0px;
  padding: 5px;
  text-align: center;
}

.Info .eduInfoContent .workCom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 500px;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 2px solid;
  padding-bottom: 5px;
}

.Info .workTitle {
  padding: 20px 0px 10px 0px;
  font-size: 20px;
  border-bottom: 2px solid #393a42;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Info .workTitle .titleP {
  margin: 0;
}

.Info .workTitle .titleb {
  margin: 0;
  border: 2px solid #393a42;
  font-size: 16px;
  padding: 5px 20px;
  border-radius: 10px;
}

.Info .workTitle .titleb:hover {
  background: #393a42;
  color: #25262e;
  cursor: pointer;
}

.Info .workInfoContent {
  padding: 20px 30px 20px 30px;
  letter-spacing: 2px;
  background: #2e3037;
}

.Info .workInfoContent .workInfoContentRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
}

.Info .workInfoContent input {
  max-width: 300px;
  color: white;
  background: #494b54;
  border-radius: 5px;
  outline: none;
  border-style: solid;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-left: 0px;
  text-align: center;
}

.Info .tranTitle {
  padding: 20px 0px 10px 0px;
  font-size: 20px;
  border-bottom: 2px solid #393a42;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Info .tranTitle .titleP {
  margin: 0;
}

.Info .tranTitle .titleb {
  margin: 0;
  border: 2px solid #393a42;
  font-size: 16px;
  padding: 5px 20px;
  border-radius: 10px;
}

.Info .tranTitle .titleb:hover {
  background: #393a42;
  color: #25262e;
  cursor: pointer;
}

.Info .tranInfoContent {
  padding: 20px 30px 20px 30px;
  letter-spacing: 2px;
  background: #2e3037;
}

.Info .tranInfoContent .tranInfoContentRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
}

.Info .tranInfoContent input {
  max-width: 300px;
  color: white;
  background: #494b54;
  border-radius: 5px;
  outline: none;
  border-style: solid;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-left: 0px;
  text-align: center;
}

.Info .skillTitle {
  padding: 20px 0px 10px 0px;
  font-size: 20px;
  border-bottom: 2px solid #393a42;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Info .skillTitle .titleP {
  margin: 0;
}

.Info .skillTitle .titleb {
  margin: 0;
  border: 2px solid #393a42;
  font-size: 16px;
  padding: 5px 20px;
  border-radius: 10px;
}

.Info .skillTitle .titleb:hover {
  background: #393a42;
  color: #25262e;
  cursor: pointer;
}

.Info .skillInfoContent {
  padding: 20px 30px 20px 30px;
  letter-spacing: 2px;
  background: #2e3037;
}

.Info .skillInfoContent .skillInfoContentRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
}

.Info .skillInfoContent input {
  max-width: 300px;
  color: white;
  background: #494b54;
  border-radius: 5px;
  outline: none;
  border-style: solid;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-left: 0px;
  text-align: center;
}

/*# sourceMappingURL=system-courseSet.css.map */
